body {
  margin: 0;
  overflow-x: hidden;
}

#fontLabel {
  position: absolute;
  width: 100px;
  height: 20px;
  color: white;
  bottom: 50px;
  left: 50px;
}

#viewpoint {
  height: 100vh;
}

#sidebar {
  border-left: solid thin gainsboro;
  background-color: ghostwhite;
  box-shadow: -.1em -.1em .35em gainsboro;
}

.brick {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}
